.help {
  background-image: url(/images/home/hero.png);
  height: 50px;
  width: 120px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.rate {
  background-image: url(/images/home/rate.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.support {
  background-image: url(/images/home/support.svg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.payment {
  background-image: url(/images/home/payment.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-offers {
  background-image: url("/images/home/offer-ring-up.svg"),
  url("/images/home/offer-ring-down.svg");
  background-position: top right,
  bottom left;
  background-repeat: no-repeat, no-repeat;
}
