.bg-offers {
  background-image: url("/images/home/offer-ring-up.svg"),
  url("/images/home/offer-ring-down.svg");
  background-position: top right,
  bottom left;
  background-repeat: no-repeat, no-repeat;
}